:root {
  --background-color: rgb(236, 241, 249);
  --border: #cad3e2;
  --blue: #1750ba;
  --blue-light: #90b5fa;
  --accent-color: #fff;
  --main-color: #1d2a3e;
  --inactive-color: rgb(81, 99, 129);
  --hover-blue-color: #3e82ff;
}
